<h1><%= @team.name %></h1>
<%= link_to "Edit", edit_team_path(@team), :class => "btn btn-default" %>
<button type="button" class="btn btn-danger"><a href="/teams/<%= @team.id %>"
data-confirm="Are you sure?"
data-method="delete"
rel="nofollow">Delete</a></button>

<h3>Roster:</h3>
<ul><% @team.players.each do |player| %>
  <li><%= link_to "#{player.name}, #{player.position}", player_path(player)%></li>
<% end %>
</ul>

<%= link_to "Add Player", new_player_path, :class => "btn btn-default" %>


