<%= render('layouts/errors', :object => @player) %>

<%= form_for(@player) do |f| %>

  <div class="form-group">
    <%= f.label :Name %>
    <%= f.text_field :name %>
  </div>
</br>
  <div class="form_group">
    <%= f.select(:position, options_for_select([["Forward", "F"], ["Midfielder", "M"], ["Defender", "D"], ["Keeper", "GK"]])) %>
  </div>
  <br>
  <div>
    <%= f.collection_select :team_id, Team.all, :id, :name %>
  </div>
  <br>
  <%= f.submit(:class => "btn btn-default") %>
<% end %>
