<h1><%= @player.name %>, <%= @player.position %></h1>
<%= link_to "Edit", edit_player_path(@player.id), remote: true, id: "edit_player", :class => "btn btn-default btn-xs" %>
<%= link_to "Delete", player_path(@player.id),
					  data: { confirm: "Are you sure?" },
					  method: "delete", 
					  :class => "btn btn-danger btn-xs" %>

<h3>Goals:</h3>
<p><%= @player.goals %></p>

<h3>Assists:</h3>
<p><%= @player.assists %></p>
<br>
<h4>Yellow Cards:</h4>
<p><%= @player.yellows %></p>

<h4>Red Cards:</h4>
<p><%= @player.reds %></p>

<h4>Minutes Played:</h4>
<p><%= @player.minutes %></p>

<%= link_to "Full Player Listing", players_path, :class => "btn btn-default" %>
<%= link_to "#{@player.team.name} Player Listing", team_path(@player.team_id), :class => "btn btn-default" %>
